{% extends "planner/layout.html" %}

{% block title %}
    LLMPlanner Calendar
{% endblock %}

{% block body %}
    <table border = "1" class="table">
        <tr>
            {% for date in dates %}
                <th>{{ date }}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for day in schedule %}
                <td>
                    {% for event in day %}
                        <div>{{ event.start_time.hour|stringformat:"02d" }}:{{ event.start_time.minute|stringformat:"02d" }} - 
                            {{ event.end_time.hour|stringformat:"02d" }}:{{ event.end_time.minute|stringformat:"02d" }} <br />
                            {{ event.title }} <br />
                            {{ event.location }} <br />
                            {{ event.description }}
                        </div>
                        {% if not forloop.last %}
                            <hr>
                        {% endif %}
                    {% endfor %}
                </td>
            {% endfor %}
        </tr>
    </table>

    <a href="{% url 'index' %}">Back</a>
{% endblock %}
