<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>LLMPlanner Chat</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    </head>
    <body>

        <div id="messages"></div>

        <form id="form">
            <input type="text" name="message"/>
        </form>

        <a href="/planner">Back</a>
        

        <script type="text/javascript">
            let url = `ws://${window.location.host}/ws/socket-server/`

            const chatSocket = new WebSocket(url)

            chatSocket.onmessage = function(e) {
                let data = JSON.parse(e.data)
                console.log("Data:", data)
                if (data.type === "user_chat") {
                    let messages = document.getElementById("messages")

                    messages.insertAdjacentHTML("beforeend", 
                        `<div>
                            <p>User: ${data.message}</p>
                        </div>
                        `
                    )
                }
                if (data.type === "ai_chat") {
                    let messages = document.getElementById("messages")

                    messages.insertAdjacentHTML("beforeend", 
                        `<div>
                            <p>AI: ${data.message}</p>
                        </div>
                        `
                    )
                }
            }

            let form = document.getElementById("form")
            form.addEventListener('submit', (e)=> {
                e.preventDefault()
                let message = e.target.message.value
                chatSocket.send(JSON.stringify({
                    'message':message
                }))
                form.reset()
            } )
        </script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
    </body>
</html>